extends layout

block content
	h1 Math Machine!
	input#entry(type='text' placeholder='Enter # to add up!')
	input#submit(type="submit")
	div
		h2 Get sent numbers:
		input(id="getNumbers", type="submit", value='Get Total')
		ul#masterNumberList

	div
	a#random(href="#") Get Random Numbers
	ul#numbers


block scripts
	script(src='/scripts/index.js')